.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  #login-button.custom-button {
    @media screen and (max-width: 425px) {
      margin-right: 10px;
      min-width: unset;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 425px) {
      justify-content: unset;
    }
  }

  @media screen and (max-width: 425px) {
    padding-bottom: 20px;
  }
}
